<!--users/templates/discussion/discussion_detail.html-->
{% extends "base.html" %}
{% block page_content %}
    <div class="col-md-8 offset-md-2">
        <h1>{{ post.title }}</h1>
        <small>
            {{ post.created_on.date }} |&nbsp;
            Category:&nbsp;
            <a href="{% url 'discussion_category' post.category %}">
                {% if post.category == "1" %}
                    Announcements
                {% elif post.category == "2" %}
                    Team Events
                {% elif post.category == "3" %}
                    Academics
                {% elif post.category == "4" %}
                    Swim/Dive
                {% elif post.category == "5" %}
                    Misc
                {% endif %}
            </a>&nbsp;
        </small>

        <p>{{ post.body | linebreaks }}</p>
        <h3>Leave a comment:</h3>
        <form action="/discussion/{{ post.pk }}/" method="post">
        {% csrf_token %}
            <div class="form-group">
                {{ form.author }}
            </div>

            <div class="form-group">
                {{ form.body }}
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h3>Comments:</h3>
        {% for comment in comments %}
        <p>
            On {{comment.created_on.date }}&nbsp;
            <b>{{ comment.author }}</b> wrote:
        </p>
        <p>{{ comment.body }}</p>
        <hr>
        {% endfor %}
    </div>
{% endblock %}