<!--users/templates/users/homepage.html-->
{% extends "base.html" %}
{% block page_content %}
    <div class="col-sm-8">
        <h1>Welcome to Aquaffinity!</h1>
        <hr style="width: 100%">
        <p>This web application stores data from https:/www.swimcloud.com for a specific team, in this case, RPI, and allows easy access to recent times and swimmers. It also provides a discussion forum for users to interact with each other.</p>
    </div>

Hello, {{ user.username|default:'Guest' }}!

<div>
    {% if user.is_authenticated %}
	<div class="container" style="max-width: 100%; overflow-x: hidden">
	</div>
        <a href="{% url 'logout' %}">Logout</a>
        <br>
        <a href="{% url 'password_change' %}">Change password</a>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock page_content %}